### OS ###
.DS_Store
.DS_Store?
._*
.Spotlight-V600
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.metadata/
.project
.classpath
.factorypath
.settings/
.sts4-cache/
.springBeans

### Build ###
target/
build/
*.class
*.jar
*.war
*.ear

### Environment ###
.env
.env.local
.env.*.local

### Maven ###
.mvn/
mvnw
mvnw.cmd
!.mvn/wrapper/maven-wrapper.jar
